.card-container {
    width: 18rem;
    margin-top: 3rem;
    margin: 10% 10% 5% 10%;
    background-color: #6884c0;
    color: white;
    position: relative;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    text-align: center;
    padding: 1rem;
}

.card-title {
    margin-bottom: 3rem;
}

.card-price {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.card-button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
